body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    --primary: #BB86FC;
    --primary-variant: #3700B3;
    --secondary: #7eaee0;
    --background: #202124;
    --surface: #202124;
    --error: #CF6679;
    --warning: #F39C12;
    --on-background: #FFFFFF;
    --on-background-grey: #c7c7c7;
    --on-surface: #FFFFFF;
  }
  
  [data-theme="light"] {
    --background: #DDDDDD;
    --suface: #FFFFFF;
    --on-background: #333333;
    --on-background-grey: #6d6d6d;
    --on-surface: #333333;
    --secondary: #6388b0;
  }

#root {
    min-height: 100vh;
    text-align: center;
    font-size: calc(10px + 2vmin);
    color: var(--on-background);
    background-color: var(--background);
    transition: all ease-in-out 0.5s;
}



div,
span,
button,
label {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}